.vscode
package-lock.json

# dependencies (bun install)
node_modules
vue-project/node_modules
*.tar.gz

# output
out
vue-project/dist-ssr
vue-project/test-results
*.tgz

# code coverage
coverage
vue-project/coverage
*.lcov

# logs
logs
*.log

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
*.timestamp-*-*.mjs

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
